body{
    font-family: 'Oswald', sans-serif;
    background-color:rgb(235, 235, 235);
}
#auteur{
    float : right;
    margin-right: 20px;
    margin-top : -10px;
    border-radius: 10%;
    border-width : 2px;
    border-style: solid;
    border-color : rgb(99, 99, 99)
}
#banner{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    color:orange;
    position: absolute;
    bottom:0px;
    text-align: center;
}

@media screen and (min-width: 700px){
    
        position: fixed;
        height: 80px;
        width: 100%;
        background-color: white;
        color:orange;
        text-align: center;
}
#map-container{
    position: absolute; 
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 90%;
    height: 450px;
    margin-top : 2%;
    margin-left : 5%;
    float: left;
}